.stAppEmbeddingId-rq8lw530yflm {
  background-color: #FF0000;
}

stAppEmbeddingId-rq8lw530yflm {
  background-color: #FF0000;
}

ffhzg2 {
  background-color: #FF0000;
}

.ffhzg2 {
  background-color: #FF0000;
}

